.AboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Header{
    text-align: center;
    margin-bottom: 3rem;
    max-width: 60%;
}


.Header h2 {
    color: var(--Primary-Color);
    margin-bottom: 0.5rem;
}

.Content{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 2rem;
    padding: 0 2rem;
}

.GeneralInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: start;
    justify-self: right;
    background: var(--Forground-Color);
    border: 0.2rem solid var(--Border-Color);
    border-radius: 1rem;
    padding: 1.5rem;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.GeneralInfo img{
    width: 80%;
    height: auto;
    border-radius: 100%;
}

.GeneralInfo > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.GeneralInfo > ul > li {
    margin-bottom: 1rem;
    border-bottom: 0.15rem solid var(--Border-Color);
    padding: .2rem;
}

.GeneralInfo div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.GeneralInfo svg{
    height: 2rem;
    width: auto;
}

.GeneralInfo svg:hover{
    cursor: pointer;
}

.MainContent h3{
    margin-top: 2rem;
    color: var(--Primary-Color);
    font-size: 2rem;
}