 .ContectPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
 }

 .ContectPage h2{
    color: var(--Primary-Color);
 }

.ContactMethods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

.ContactMethod{
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 15rem;
  height: 22rem;
  background-color: var(--Forground-Color);
  border-radius: 1rem;
  border: 0.2rem solid var(--Border-Color);
  transition: all 0.3s ease;
  box-sizing: border-box; 
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  gap: 1rem;
}

.ContactMethod:hover{
  box-shadow: 0 0.1rem 0.3rem var(--Accent-Color);
  transform: translateY(-10px)
}

.ContactMethodImg{
  justify-self: center;
  align-self: center;
  width: 50%;
  height: auto;
}

.ContactMethodImg path{
    color: var(--Text-Primary-Color);
}

.ContactMethodText{
  grid-row: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.ContactMethod b {
  font-weight: bold;
  color: var(--Primary-Color); 
} 

.GetInTouch svg {
  color: var(--Background-Color);
  opacity: 0;
  transform: translateX(20px);
  transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease; 
  width: auto;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.GetInTouch:hover svg {
  opacity: 1;
  transform: translateX(0);
  color: var(--Text-Primary-Color);
}