

:root {
    --Background-Color: #181A1B;
    --Background-Color-2: #202923;
    --Forground-Color: #242627;
    --Border-Color: #2F3233;
    --Primary-Color: #00C978;
    --Secondary-Color: #3A3B3C;
    --Accent-Color: #00C978;  
    --Text-Primary-Color: #F1F1F1;
    --Text-Muted-Color: #A8A8A8;

    --highlight-color: var(--Text-Primary-Color);
    --highlight-bg: var(--Forground-Color);
    --highlight-comment: #999999;
    --highlight-keyword: #88aece;
    --highlight-attribute: #88aece;
    --highlight-symbol: #c59bc1;
    --highlight-namespace: #f08d49;
    --highlight-variable: #b5bd68;
    --highlight-literal: #f08d49;
    --highlight-punctuation: #cccccc;
    --highlight-deletion: #de7176;
    --highlight-addition: #76c490;
}

[data-theme="dark"] {
    --Background-Color: #181A1B;
    --Background-Color-2: #202923;
    --Forground-Color: #242627;
    --Border-Color: #2F3233;
    --Primary-Color: #00C978;
    --Secondary-Color: #3A3B3C;
    --Accent-Color: #00C978;  
    --Text-Primary-Color: #F1F1F1;
    --Text-Muted-Color: #A8A8A8;

    --highlight-color: var(--Text-Primary-Color);
    --highlight-bg: var(--Forground-Color);
    --highlight-comment: #999999;
    --highlight-keyword: #88aece;
    --highlight-attribute: #88aece;
    --highlight-symbol: #c59bc1;
    --highlight-namespace: #f08d49;
    --highlight-variable: #b5bd68;
    --highlight-literal: #f08d49;
    --highlight-punctuation: #cccccc;
    --highlight-deletion: #de7176;
    --highlight-addition: #76c490;
}

[data-theme="light"] {
    --Background-Color: #D6D6D6;   
    --Background-Color-2: #D8E6D8;
    --Forground-Color: #CBCBCB;   
    --Border-Color: #B3B3B3;       
    --Primary-Color: #008F45;     
    --Secondary-Color: #3A3B3C;    
    --Accent-Color: #6FC473;       
    --Text-Primary-Color: #1E1E1E; 
    --Text-Muted-Color: #4D4D4D;   

    --highlight-color: var(--Text-Primary-Color);
    --highlight-bg: var(--Forground-Color);
    --highlight-comment: #656e77;
    --highlight-keyword: #015692;
    --highlight-attribute: #015692;
    --highlight-symbol: #803378;
    --highlight-namespace: #b75501;
    --highlight-variable: #54790d;
    --highlight-literal: #b75501;
    --highlight-punctuation: #535a60;
    --highlight-deletion: #c02d2e;
    --highlight-addition: #2f6f44;
}

*{ 
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: var(--Text-Primary-Color);   
    scrollbar-width: thin;
    scrollbar-color: var(--Primary-Color) var(--Forground-Color);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--Accent-Color);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--Forground-Color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

html{
    background-color: var(--Background-Color);
}

body {
    background-color: var(--Background-Color);
    background-image:
        linear-gradient(135deg, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%),
        linear-gradient(45deg, var(--Background-Color), var(--Background-Color-2));
}


#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root main{
    flex: 1;
    display: flex;
    width: 80vw;
    align-self: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}