 .ContectPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4rem;
 }

 .ContectPage h2{
    color: var(--Primary-Color);
 }

.ContactMethods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

.ContactMethod{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  height: 22rem;
  background-color: var(--Forground-Color);
  border-radius: 1rem;
  border: 0.2rem solid var(--Border-Color);
  transition: all 0.3s ease;
  box-sizing: border-box; 
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding: 1rem;
  gap: 1rem;
}

.ContactMethod:hover{
  box-shadow: 0 0.1rem 0.3rem var(--Accent-Color);
  transform: translateY(-10px)
}

.ContactMethodImage{
  height: 30%;
  width:  auto;
  object-fit: contain;
}

.ContactMethod b {
  font-weight: bold;
  color: var(--Primary-Color); 
}

