.Home-Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    gap: 10rem;
}

.Banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Banner-Text{
    text-align: right;
}

.Banner h1{
    color: var(--Primary-Color);
}

.Banner h3{
    color: var(--Text-Muted-Color);
}

.Banner-Icon{
    border-radius: 100%;
}

.Arrow{
    background-color: transparent;
    width: 40px;
    height: 40px;
    top: 50%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px var(--Primary-Color) solid;
    border-bottom: 2px var(--Primary-Color) solid;
    cursor: pointer;
}

.Arrow:before{
    position: absolute;
    left: 50%;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px var(--Accent-Color) solid;
    border-bottom: 1px var(--Accent-Color) solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow{
  0%{
        opacity: 1;
  }
  100%{
        opacity: 0;
        transform: translate(-10px, -10px);
  }

}


.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.Projects-Nav{
    display: flex;
    gap: 2rem;
}

.Projects-Nav select{
    appearance: none;
    background-color: var(--Background-Color);
    border: none;
    border-bottom: 0.2rem solid var(--Primary-Color);
    width: 10rem;
    text-align: center;
    cursor: pointer;
}

.Project-List{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.Project-Cart{
    position: relative;
    width: 15rem;
    height: 20rem;
    border: 0.1rem solid var(--Primary-Color);
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--Background-Color);
    transition: filter 1s ease;
    transition: transform 0.3s ease;
}

.Project-Cart:hover{
    transform: scale(1.05);
}
    

.Project-Cart::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('./404.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: filter 0.4s ease;
}

.Project-Cart:hover::before {
    filter: blur(5px);
}

.Project-Cart-Text{
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.Project-Cart *{
    text-align: center;
}

.Project-Cart:hover .Project-Cart-Text{
        opacity: 1;
}
